.App {
  text-align: center;
}

.Header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Header div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Header button {
height: 3rem;
width: 6rem;
background-color: black;
color: white;
}


.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login h3 {
  text-align: center;
}

.Login button {
  margin: 1rem;
}